.result-box {
    height: 15vh;
    width: 15vh;
    display: inline-block;
    background-color: black;
    background-size: 100% 100%;
    border: solid black 2px;
    margin: 1vw;
}
.dividing-line {
    width: 126vh;
    height: 0.5vh;
    background-color: white;
    border: none;
}
.btn-container {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
}
.btn-container button {
    height: 18vh;
    width: 18vh;
    margin: 0 1.8vh;
    background-size: 100% 100%;
}
.control-btn {
    background-color: #B73239;
    border-color: #B73239;
}
#submit {
    height: 18vh;
    width: 126vh;
    font-size: 7vh;
}
.blob{
    background-image: url(../src/imgs/parovi/blob.png);
}
.bulb{
    background-image: url(../src/imgs/parovi/bulb.png);
}
.checkmark{
    background-image: url(../src/imgs/parovi/checkmark.png);
}
.clover{
    background-image: url(../src/imgs/parovi/clover.png);
}
.exlamation_mark{
    background-image: url(../src/imgs/parovi/exlamation_mark.png);
}
.heart{
    background-image: url(../src/imgs/parovi/heart.png);
}
.leaf{
    background-image: url(../src/imgs/parovi/leaf.png);
}
.lightning{
    background-image: url(../src/imgs/parovi/lightning.png);
}
.question_mark{
    background-image: url(../src/imgs/parovi/question_mark.png);
}
.romb{
    background-image: url(../src/imgs/parovi/romb.png);
}
.royal{
    background-image: url(../src/imgs/parovi/royal.png);
}
.star{
    background-image: url(../src/imgs/parovi/star.png);
}