#zastava {
    width: 80%;
    height: 65%;
    background-color: #fff;
}
#zastava img {
    height: 100%;
    width: 100%;
}
#odgovor, div.button-container{
    width: 80%;
    font-size: 5vh;
    border-radius: 10px;
}
#odgovor {
    height: 15%;
}
div.button-container {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.button-container button{
    height: 100%;
    width: 45%;
    font-size: 5vh;
    border-radius: 10px;
}